<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="reciever-prueba1-styles.html">
<dom-module id="reciever-prueba1">
  <script src="reciever-prueba1.js"></script>
</dom-module>